# This file describes the expected reviewers for a PR based on the changed
# files. Unlike what the name of the file suggests they don't own the code, but
# merely have a good understanding of that area of the codebase and therefore
# are usually suited as a reviewer.

# Mind the alphabetical order

# avcodec
# =======
libavcodec/*aac* @lynne
libavcodec/*ac3* @lynne
libavcodec/*atrac9* @lynne
libavcodec/*bitpacked* @lynne
libavcodec/*dirac* @lynne
libavcodec/*ffv1* @lynne @michaelni
libavcodec/golomb* @michaelni
libavcodec/*jpegxl* @lynne
libavcodec/*jxl* @lynne
libavcodec/*opus* @lynne
libavcodec/*prores* @lynne
libavcodec/rangecoder* @michaelni
libavcodec/ratecontrol* @michaelni
libavcodec/*siren* @lynne
libavcodec/*vc2* @lynne

libavcodec/aarch64/* @lynne @mstorsjo
libavcodec/arm/* @mstorsjo
libavcodec/x86/* @lynne

# avfilter
# =======
libavfilter/aarch64/* @mstorsjo
libavfilter/vf_yadif* @michaelni
libavfilter/vsrc_mandelbrot* @michaelni

# avformat
# =======
libavformat/iamf* @jamrial

# avutil
# ======
libavutil/*crc* @lynne @michaelni
libavutil/eval* @michaelni
libavutil/iamf* @jamrial
libavutil/integer* @michaelni
libavutil/kiss99* @michaelni
libavutil/lfg* @michaelni
libavutil/lls* @michaelni
libavutil/md5* @michaelni
libavutil/mathematics* @michaelni
libavutil/mem* @michaelni
libavutil/qsort* @michaelni
libavutil/random_seed* @michaelni
libavutil/rational* @michaelni
libavutil/sfc* @michaelni
libavutil/softfloat* @michaelni
libavutil/tree* @michaelni
libavutil/tx* @lynne

libavutil/aarch64/* @lynne @mstorsjo
libavutil/arm/* @mstorsjo
libavutil/x86/* @lynne

# swresample
# =======
libswresample/aarch64/* @mstorsjo
libswresample/arm/* @mstorsjo
libswresample/* @michaelni

# swscale
# =======
libswscale/aarch64/* @mstorsjo
libswscale/arm/* @mstorsjo

# doc
# ===
doc/* @GyanD

# Frameworks
# ==========
*vulkan* @lynne
