*.a
*.o
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
/.config
/.version
/avconv
/avplay
/avprobe
/avversion.h
/config.*
/coverage.info
/lcov/
/mapfile
