# Please make a copy for this file named 'Android_local.sh', then fix out
# bellow configure lines for yourself.

### For Linux
#export ANDROID_NDK=/path/to/andriod/ndk/root/directory/
#export HOST_SYSTEM=linux-x86_64
#export CCACHE=ccache

### For MAC
#export ANDROID_NDK=/path/to/andriod/ndk/root/directory/
#export HOST_SYSTEM=darwin-x86_64
#export CCACHE=
