a.summary-letter {
    text-decoration: none;
}

a {
    color: #2D6198;
}

a:visited {
    color: #884488;
}

#banner {
    background-color: white;
    position: relative;
    text-align: center;
}

#banner img {
    padding-bottom: 1px;
    padding-top: 5px;
}

#body {
    margin-left: 1em;
    margin-right: 1em;
}

body {
    background-color: #313131;
    margin: 0;
    text-align: justify;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#container {
    background-color: white;
    color: #202020;
    margin-left: 1em;
    margin-right: 1em;
}

#footer {
    text-align: center;
}

h1 a, h2 a, h3 a, h4 a {
    text-decoration: inherit;
    color: inherit;
}

h1, h2, h3, h4 {
    padding-left: 0.4em;
    border-radius: 4px;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    border: 1px solid #6A996A;
}

h1 {
    background-color: #7BB37B;
    color: #151515;
    font-size: 1.2em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

h2 {
    color: #313131;
    font-size: 1.0em;
    background-color: #ABE3AB;
}

h3 {
    color: #313131;
    font-size: 0.9em;
    margin-bottom: -6px;
    background-color: #BBF3BB;
}

h4 {
    color: #313131;
    font-size: 0.8em;
    margin-bottom: -8px;
    background-color: #D1FDD1;
}

img {
    border: 0;
}

#navbar {
    background-color: #738073;
    border-bottom: 1px solid #5C665C;
    border-top: 1px solid #5C665C;
    margin-top: 12px;
    padding: 0.3em;
    position: relative;
    text-align: center;
}

#navbar a, #navbar_secondary a {
    color: white;
    padding: 0.3em;
    text-decoration: none;
}

#navbar a:hover, #navbar_secondary a:hover {
    background-color: #313131;
    color: white;
    text-decoration: none;
}

#navbar_secondary {
    background-color: #738073;
    border-bottom: 1px solid #5C665C;
    border-left: 1px solid #5C665C;
    border-right: 1px solid #5C665C;
    padding: 0.3em;
    position: relative;
    text-align: center;
}

p {
    margin-left: 1em;
    margin-right: 1em;
}

pre {
    margin-left: 3em;
    margin-right: 3em;
    padding: 0.3em;
    border: 1px solid #bbb;
    background-color: #f7f7f7;
}

dl dt {
    font-weight: bold;
}

#proj_desc {
    font-size: 1.2em;
}

#repos {
    margin-left: 1em;
    margin-right: 1em;
    border-collapse: collapse;
    border: solid 1px #6A996A;
}

#repos th {
    background-color: #7BB37B;
    border: solid 1px #6A996A;
}

#repos td {
    padding: 0.2em;
    border: solid 1px #6A996A;
}
