/aviocat
/ffbisect
/bisect.need
/crypto_bench
/cws2fws
/enum_options
/fourcc2pixfmt
/ffescape
/ffeval
/ffhash
/graph2dot
/ismindex
/pktdumper
/probetest
/qt-faststart
/scale_slice_test
/sidxindex
/trasher
/seek_print
/uncoded_frame
/venc_data_dump
/zmqsend
