/adler32
/aes
/aes_ctr
/atomic
/audio_fifo
/avstring
/base64
/blowfish
/bprint
/camellia
/cast5
/color_utils
/cpu
/cpu_init
/crc
/des
/dict
/display
/error
/eval
/fifo
/file
/hash
/hmac
/imgutils
/lfg
/lls
/log
/lzo
/md5
/murmur3
/opt
/parseutils
/pca
/pixdesc
/pixelutils
/random_seed
/rational
/ripemd
/sha
/sha512
/softfloat
/tea
/tree
/twofish
/utf8
/xtea
